.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__group.form__tooltip {
    position: relative;
    margin: 0;
    &:hover::before,
    &:hover::after {
      display: inline-block;
    }
    &::before {
      position: absolute;
      z-index: 2;
      display: none;
      padding: 1rem;
      font-size: 1rem;
      line-height: 2rem;
      border-radius: 5px;
      background-color: rgba($light-text-color, 0.8);
      color: $dark-text-color;
      content: attr(title);
      bottom: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
    }
    &::after {
      position: absolute;
      z-index: 1;
      display: none;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      content: '';
      bottom: 97%;
      left: 50%;
      border-top-color: rgba($light-text-color, 0.8);
      transform: translateY(-50%);
      border-bottom-width: 0;
    }
  }

  &__input {
    color: $light-text-color;
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 500;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: white;
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 100%;
    min-width: 300px;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($light-text-color, 0.1);
      border-bottom: 3px solid $dark-tertiary;
      &:invalid {
        border-bottom: 3px solid #ff7730;
      }
    }
    &::-webkit-input-placeholder {
      color: lighter($light-text-color, 70%);
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: $light-text-color;
  }

  &__input:placeholder-shown ~ &__label {
    // &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
