$lato: 'Lato';
$oswald: 'Oswald';
$fontSize: 16px;
$fontSizeTitle: 30px;

$width-button: 200px;

$dark-primary: #1b262c;
$dark-secondary: #0f4c75;
$dark-tertiary: #3282b8;
$dark-quaternary: #bbe1fa;
$dark-text-color: #dddada;
$light-text-color: #333;
