.userdetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto 0;
  &__buttons {
    margin: 20px;
    button {
      margin: 10px 20px;
    }
  }
  .btn-link {
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid white;
    margin-top: 40px;
    border-radius: 50px;
    &:hover {
      color: $dark-primary;
      background-color: white;
    }
  }
  &__info {
    &__text {
      width: 300px;
      display: flex;
      justify-content: space-between;
    }
  }
  .form {
    &__label {
      color: white;
    }
  }
}
