.userlist {
  display: flex;
  justify-content: center;
  align-items: center;
  &__list {
    a {
      &userlist__list__item {
        margin: 30px 20px;
        background-color: red;
        &__text {
          &--firstname {
            margin: 0px 10px;
          }
        }
      }
    }
  }
}
